#root {
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}

.container h1 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: bold
}

.container .iconos {
  display: flex;
  gap: 15px;
  margin: 5px;
}

.container .iconos .subIcono {
  border-radius: 50%;
  padding: 4px 10px;
  border: solid 1px;
  font-size: 1.2em;
  cursor: pointer;
}

.container p {
  font-size: 12px;
  margin-bottom: 8px;
}

.container form {
  width: 100%;
}

.container form button {
  border-radius: 4px;
  color: aliceblue;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 8px;
}

.container .alert {
  width: 100%;
  margin: 0;  
  padding: 10px;
  font-size: 12px;
}
