* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  font-family: Calibri, sans-serif, "Trebuchet MS";
  display: flex;
  place-content: center;
  flex-direction: column;
  background-color: aliceblue;
}
